---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 5
---

<h1 class="ps-2">Archive</h1>
<hr>

{% set postslist = collections.blog %}
{% include "postslist.njk" %}

<div class="container position-relative avatar-picture">
  <div class="card avatar-card text-center" style="width: 18rem;">
    <img src="/img/avatar.png" class="card-img-top" alt="avatar-picture">
    <div class="card-body">
      <a href="https://vigilant-mahavira-197e59.netlify.app/about/" class="btn btn-secondary text-white">About Me</a>
    </div>
</div>
</div>